.content {
  position: absolute;
  top: 2vh;
  left: 5vw;
  right: 5vw;
  width: calc(100% - 10vw);
  background-color: #ffffff;
  border-top: 8px solid #d9d9d9;
  border-left: 8px solid #d9d9d9;
  border-right: 8px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
  bottom: 0px;
}

.grid-product {
  height: calc(100vh - 5vh);
}

/* Paging */
.content .paging-bar{
  border-top: 4px solid #d9d9d9;
  height: 60px;
  margin: 0px;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-bottom: 8px solid #d9d9d9;
}
.content .paging-bar .paging-record-option select.input-number-record{
  margin-left: 8px;
  height: 32px;
  width: 80px;
  padding: 4px 12px;
}

/* Validate */
.error{
  border: 1px solid #FF0000;
}
.error-msg{
  color: #FF0000;
  font-style: italic;
  padding-top: 8px;
  padding-left: 8px;
}
.requireErr, .require-error:focus{
  border: 1px solid #FF0000 !important;
}
  