.m-btn {
    display: flex;
    align-items: center;
    background-color: #5f6cff;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    min-width: 80px;
    justify-content: center;
}

    .m-btn:hover {
        background-color: #6673ff;
    }
    
    .btn-toolbar-icon{
        width: 16px;
        height: 16px;
        margin-top: 4px;
        margin-right: 4px;
        background-image: url('../../assets/icons/common-icon.png');
        background-repeat: no-repeat;
    }

    .m-btn-submit{
        background-position: -1205px -130px;
    }
    
.btn-select-page {
    opacity:.7;
    margin: 4px 4px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
}
    .btn-select-page:hover {
        opacity: 1;
    }

    .m-btn-firstpage {
        background-image: url('../../assets/icons/btn-firstpage.svg');
    }

.m-btn-prev-page {
    background-image: url('../../assets/icons/btn-prev-page.svg');
}

.m-btn-next-page {
    background-image: url('../../assets/icons/btn-next-page.svg');
}

.m-btn-lastpage {
    background-image: url('../../assets/icons/btn-lastpage.svg');
}

.icon-cancel{
    width: 24px;
    height: 24px;
    background-position: center;
    background-image: url('../../assets/icons/times-solid.svg');
    background-repeat: no-repeat;
}